@import url(//fonts.googleapis.com/css?family=Lato:700);
body {background-color: #e74c3c;font-family:'Lato', sans-serif;}
footer {color:white;margin: 10px;text-shadow: 1px 1px 10px #34495E;}
.container {background-color: #F5F4F4;border-radius: 20px;padding: 30px;margin-top: 5%;min-height: 100px;box-shadow: 2px 1px 10px 2px #c0392b ;}
.container .auth-data {    top: 40px;position: absolute;right: 160px;color: #F5F4F4;}
.container .auth-data a {color: #8E1104;}
.sys-data {color: #34495e ;margin: 0 auto;float: none;}
.sys-data p {line-height: 30px;}
.sys-data .hr-line {border-bottom: 1px dashed black;margin: 3% 0 ;}
.form-group {margin-bottom: 5px;}
